spring:
  application:
    name: gateway
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    #    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  main:
    allow-bean-definition-overriding: true


logging:
  level:
    org.springframework.web.client.RestTemplate: DEBUG
    org.springframework.http: DEBUG
    org.springframework.web: DEBUG

server:
    port: 8085