name: Docker Image CI

on:
  pull_request:
    branches: 
      - develop
  push:
    branches: 
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
    
      # Authenticate with Docker Hub
      - name: Log into Docker Hub
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
        run: echo $DOCKER_PASSWORD | docker login -u devforce123 --password-stdin

      # Build the Docker image
      - name: Build Docker image
        run: docker build -t devforce123/backend:2.0 -f src/Backend/Dockerfile src/Backend/
        
      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v4.0.1
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
