name: Backend Service Testing Pipeline

on:
    push:
        branches:
            - develop
            - main
        paths:
          - 'src/Backend/**'
          - '.github/workflows/ci.yml'
    pull_request:
        branches:
            - develop
            - main
        paths:
          - 'src/Backend/**'
          - '.github/workflows/ci.yml'

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            DB_URL: ${{ secrets.DB_URL }}
            DB_USERNAME: ${{ secrets.DB_USERNAME }}
            DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}

        steps:
            - name: Checkout the code
              uses: actions/checkout@v2

            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with:
                java-version: '17'
                distribution: 'temurin'
                
            - name: Grant execute permission for gradlew
              run: chmod +x ./src/Backend/gradlew

            - name: Assemble with Gradle
              run: ./gradlew assemble
              working-directory: ./src/Backend

            - name: Install lcov and Python3
              run: |
                sudo apt-get update
                sudo apt-get install -y lcov python3-pip
      
            - name: Download frontend coverage report
              uses: actions/download-artifact@v2
              with:
                name: frontend-coverage
                path: ./frontend-coverage
      
            - name: Run tests with Gradle
              working-directory: ./src/Backend
              run: ./gradlew clean test codeCoverageReport
      
            - name: Convert Jacoco report to lcov
              run: |
                python3 scripts/jacoco2lcov.py ./src/Backend/build/reports/jacoco/codeCoverageReport/codeCoverageReport.xml backend.lcov.info
      
            - name: Merge coverage reports
              run: |
                lcov -a ./frontend-coverage/lcov.info -a backend.lcov.info -o merged.lcov.info
      
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4
              with:
                token: ${{ secrets.CODECOV_TOKEN }}
                files: merged.lcov.info
                flags: unittests
                name: codecov-umbrella