name: Docker Image CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
    
      - name: Change directory to the Dockerfile location
        run: cd src/Backend/docker
    
      - name: Build the Docker image
        run: docker build -t backend .
    
