name: Flutter Tests

on:
  push:
    branches:
      # - develop
      - main
  pull_request:
    branches:
      # - develop
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.0.0' # Change this to your desired Flutter version

    - name: Install dependencies
      working-directory: ./src/Frontend
      run: flutter pub get


    - name: Run tests with coverage
      working-directory: ./src/Frontend
      run: flutter test --coverage