name: Flutter Tests

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.0.0' # Change this to your desired Flutter version

    - name: Install dependencies
      run: flutter src/Frontend/pub get


    - name: Run tests with coverage
      run: flutter test --coverage src/Frontend/test/api_test.dart


