name: Frontend Testing Pipeline

on:
  push:
    branches:
      - develop
      - main
    paths:
      - 'src/Frontend/**'
      - '.github/workflows/flutter.yml'
  pull_request:
    branches:
      - develop
      - main
    paths:
      - 'src/Frontend/**'
      - '.github/workflows/flutter.yml'

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.22.1'

    - name: Install dependencies
      working-directory: ./src/Frontend
      run: flutter pub get

    - name: Install lcov
      run: sudo apt-get install -y lcov

    - name: Run tests with coverage
      working-directory: ./src/Frontend
      run: flutter test --coverage

    - name: Verify lcov report
      run: |
        if [ ! -f ./coverage/lcov.info ]; then
          echo "lcov report not generated!"
          exit 1
        fi
      working-directory: ./src/Frontend

    - name: Upload coverage artifact
      uses: actions/upload-artifact@v2
      with:
        name: frontend-coverage
        path: ./src/Frontend/coverage/lcov.info